openvino
openvino-genai
openvino-tokenizers[transformers]
torch
transformers
langchain
langchain-community
langgraph
wikipedia
pydantic
pydantic-core
gradio==5.49.1
gradio-client
requests
numpy
sentence-transformers
pywin32
comtypes
pycaw
