openvino
openvino-tokenizers[transformers]
nncf
torch
torchvision
datasets
accelerate
transformers
langchain
langchain-community
wikipedia
pydantic
pydantic-core
gradio==5.49.1
gradio-client
modelscope_studio
optimum-intel
qwen-agent==0.0.18
pywin32
comtypes
pycaw
sentence-transformers
